@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/hajnal_fonts/Satoshi-Variable.ttf');
}

@font-face {
    font-family: 'HostGrotesk Bold';
    src: url('/fonts/hajnal_fonts/HostGrotesk-Bold.ttf');
}

@font-face {
    font-family: 'HostGrotesk Regular';
    src: url('/fonts/hajnal_fonts/HostGrotesk-Regular.ttf');
}

@font-face {
    font-family: 'HostGrotesk SemiBold';
    src: url('/fonts/hajnal_fonts/HostGrotesk-SemiBold.ttf');
}

@font-face {
    font-family: 'MyriadPro';
    src: url('/fonts/hajnal_fonts/MyriadPro-Regular.otf');
}